<section *ngIf="isLoading && !errorMessage">
    Retrieving data...
</section>
<section *ngIf="errorMessage">
    {{errorMessage}}
</section>
<section class="basic-container" *ngIf="!isLoading  && !errorMessage">
    <mat-card>
        <h2>You selected: {{person.name}}</h2>
        <form #personForm="ngForm" (ngSubmit)="savePersonDetails()">
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="person.name" #name="ngModel" required>
                <mat-error [hidden]="name.valid || name.pristine">Name is required!</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="standard">
                <mat-label>Weight</mat-label>
                <input matInput type="number" name="weight" [(ngModel)]="person.weight" min=0 max=350 #weight="ngModel">
                <mat-error *ngIf="!weight.errors?.min">Weight must be higher than 0.</mat-error>
                <mat-error *ngIf="!weight.errors?.max">Weight can't be higher than 350.</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="standard">
                <mat-label>Height</mat-label>
                <input matInput type="number" name="height" [(ngModel)]="person.height" #height="ngModel">
            </mat-form-field>
            <br />
            <mat-form-field appearance="standard">
                <mat-label>Profession</mat-label>
                <mat-select>
                    <mat-option *ngFor="let profession of professions" [value]="profession">
                        {{profession}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!personForm.form.valid">Save</button>
                <a mat-raised-button (click)="goBackToPeopleList()">Back to list</a>
            </div>
        </form>
    </mat-card>
</section>